/*****content*****/
.light-grey {
    width: 100%;
    max-width: 1140px;
    height: 523px;
    margin: auto;
    background: #C4C4C4; 
}


.grey {
    max-width: 496px;
    width: 43%;
    height: 389px;
    margin-top: 67px;
    margin-left: 4%;
    background: #535353;
    float: left;
}
  
.blue {
    max-width: 496px;
    width: 43%;
    height: 389px;
    margin-top: 67px;
    margin-left: 5%;
    background: #0041A2; 
    float: left;
}


/*****media query*****/
@media screen and (max-width: 428px) {
    .light-grey {
        background-color: transparent;   
    }


    .grey {
        margin: 40px 37px 56px 38px;
        height: 277px; 
        width: 80%;
    }


    .blue {  
        margin: 0px 37px 0px 38px;
        height: 277px;
        width: 80%;
    }
    
}
